:root {
  --font-family-sans: 'Helvetica Neue', -apple-system, BlinkMacSystemFont,
    Avenir, 'Avenir Next', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', sans-serif;
  --grid-gutter: 3rem;
}

body {
  font-weight: 300;
}

.nav {
  border-bottom: 1px solid var(--color-lightGrey);
  padding: 1em;
}

.nav-right {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav a,
.nav .brand {
  font-size: 1.6rem;
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
}

.nav a:hover {
  background-color: var(--bg-secondary-color);
  opacity: 1;
}

.banner {
  background: linear-gradient(
    to right,
    #c969a6 0%,
    #e795a8 15%,
    #a4cfcd 43%,
    #45adc5 65%,
    #265c9f 100%
  );
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 38vh;
}

.banner > *:not(ul) {
  background-color: #fff;
  padding: 8px 1em;
}

.banner .update {
  font-size: 2em;
  font-weight: 500;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
}

section {
  padding: 5rem;
}

.section-dark {
  background-color: #1c1c1c;
}

.section-dark > *:not(.row) {
  color: #fff;
}

h2,
.section-subtitle {
  text-align: center;
}

.section-subtitle {
  font-size: 2rem;
}

.row {
  margin-top: 3rem;
}

.section-subtitle + .row {
  margin-top: 6rem;
}

.card {
  padding: 2rem;
}

h3 {
  font-size: 1.6rem;
}

table {
  border-top: 1px solid var(--color-lightGrey);
  border-bottom: 1px solid var(--color-lightGrey);
}

thead {
  background-color: var(--bg-secondary-color);
  border-bottom: 1px solid var(--color-lightGrey);
}

td,
th {
  padding: 1.6rem;
}

section#chart {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 5rem 0;
}

.banner ul li {
  background: white;
  color: black;
  padding: 0.5rem 1rem;
  list-style-type: none;
}
